/* Pallete
Title text color #303030 
White text color #FFFFFF
Accent color #FF6C00
Uppertitle hero text color rgba(157, 164, 189, 0.6);
Undertittle hero text color #9DA4BD;



*/

/* ROOT General */
:root {
    --primary-font: 'Open Sans', sans-serif;
    --primary-text-color: #555555;
    --scdwhite-text-color: #FFFFFF;
    --primary-title-color: #303030; 
    --accent-color: #FF6C00;


}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--primary-font);
    color: #555555;
}
a {
    text-decoration: none;
    color: var(--primary-title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
 }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}

.btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
}

.logo {
    margin-right: 131px;

    width: 68px;
    height: 55px;
}
.nav-container {
    position: relative;
}
.navigation {
    display: flex;
}

.nav-main-list {
    display: flex;
    align-items: center;
}

.nav-link {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    color: var(--scdwhite-text-color);
}

.nav-contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    color: var(--scdwhite-text-color);
}
.nav-contact-ellement {
    margin-right: 40px;
}

.nav-list-ellement:not(:last-child) {
    margin-right: 40px;
}

.nav-btn {
    padding: 12px 20px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--scdwhite-text-color);
    border: 1px solid var(--accent-color);
    border-radius: 25px;
}


/* Hero */
.hero-slider {
    display: flex;
    width: 1070px;
    height: 680px;

    padding-top: 281px;
    padding-right: 526px;
    padding-bottom: 199px;
    padding-left: 100px;

    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-side-block {
    width: 100px;
    display: flex;
    background-color: #fff;
    align-items: flex-end;
}

.hero-side-list {
    width: 100%;
    display: flex;
    outline: green 2px solid;
    transform-origin: top left;
    transform: rotate(270deg);
    padding-top: 82px;
    padding-bottom: 58px;
}

.hero-side-item:not(:last-child) {
margin-right: 40px;
}

.hero-side-link {

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: red;
    
}

.section.hero {
    /* background-color: rgba(49, 48, 48, 0.9); */
}

.hero-container {
    display: flex;
}

.hero-descr {
    width: 444px;
    height: 200px;
}

.hero-uppertitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    color: var(--scdwhite-text-color);
}

.hero-undertitle {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.hero-btn {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
}

.hero-btn.back {
    color: rgba(157, 164, 189, 0.6);
}

.hero-btn.forward {
    text-align: right;
    color: var(--scdwhite-text-color);
}
